*{
    margin:0;
    padding:0;
}

.sky{
    height: 100vh;
    width:100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    
}

.trees{
    height:100vh;
    width:100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top:-134px;
    
}
.track{
    height:50vh;
    width:700vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top:70vh;
    animation: carMove linear .7s infinite;

}

.car{
    height:120px;
    width:380px;
    background-size: cover;
    background-image: url(car_body.png);
    position: absolute;
    background-repeat: no-repeat;
    left: 250px;
    bottom: 29vh;
    animation: shake linear .3s infinite;

}
.wheel{
    height:60px;
    width: 100%;
}
.wheel1 img{
    width:77px;
    position:relative;
    top: 47px;
    left: 52px;
    animation: wheelRotation linear .5s infinite;
}
.wheel2 img{ 
    width:77px;
    position:relative;
    top: -32px;
    left: 265px;
    animation: wheelRotation linear .5s infinite;
}
body{
    overflow: hidden;
   /* animation:shakebody linear 6s infinite;*/
}

@keyframes wheelRotation 
{
    100%{
        transform : rotate(360deg) ;
    }

}

@keyframes carMove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
/*@keyframes shakebody{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}
*/